<!-- Footer -->
<footer id="myFooter">
	<div class="container">
		<div class="row">
				<div class="myCols">
					<a href="/">Home</a><span class="divider"> |</span>
					<a href="/story">Story</a><span class="divider"> |</span>
					<a href="/about">About Us</a><span class="divider"> |</span>
					<a href="/help">Help</a>
				</div>
				<p>Copyright © 2017 • All rights reserved.</p>
		</div>
	</div>
</footer>

<script src="\stylesheets\js\jquery-3.2.1.min.js"></script>
<script src="\stylesheets\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
</body>
</html>