<% include partials/header%>
<div class="container ctrsad">
	<div class="row" id="aboutus" align="center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default pd1">
				<div class="panel-heading">
					<h2><strong>About Us</strong></h2>
				</div>
				<div class="panel-body">
					<p>
						Based on the survey made of Ministry of Social Affairs, 84% of children from the age of 12 to 17 had ever been a victim of bullying. This caused the high level of stress and lack of confidence of the victim. Because nowadays, the focus of everyone is not on developing theirself, but how to create a image that can be adore by people, eventhough it’s not the real us. And that image give us a lot of pressure and our pride make us can’t say it to anyone.
					</p>
					<p>
						When someone hide away their feelings, this can caused a lot of social problems such as skipping school, drugs even suicide. In so many countries, bullying start being a serious topic and many people is trying to find the solutions of it. But, in Indonesia, the low attention of bullying caused lack of care and awareness of how big this problem is.
					</p>
					<p>
						Basically, bullying happened to teenagers who still on their transition period. And in this period, children often apply everything they saw from gadget and this power have a big impact on their mental. Because we can’t stop the technology development, we need to find a solution to this.
					</p>
					<p>
						Usually, bullying victim can’t tell their stories to anyone, including their family. Because they are afraid of the judgement. Therefore, we try to provide us a place, which was called sonder. Sonder means the realization that everyone has a vivid and complex life as yours. It means, you’re not alone. Everyone is suffering their own problem, but doesn’t mean we’re all sufferer. But it means, we’re all the fighter.
					</p>
					<p>
						This website gather all the fighter, who is here to support each other and give them a place to share their own journey surrounded by all the people who care about them, who maybe in the same journey with you. Mostly, people don’t want to tell their stories so they won’t make anyone worried. But here, you can tell all your journey, where you are the hero of your own story that can’t be written by anybody else.
					</p>
					<p>
						We can tell no one about our journey and you might thought that this won’t make any impact to yourself. But in fact, when you share your story, you are not only release your burden, but you are also become an inspiration to other people, and maybe someone out there is ready to help you. You will start to realize, sooner or later, you are not the most unlucky person in the world, but you are one of the survivor because you are brave enough to deal with it.
					</p>
					<p>
						Each of us has a story to tell. We are all the hero of our own problems. But, are you ready to become the hero to save other people? To inspire them? To become the living proof that the problem can be destroyed? Let’s start by writing your journey here. Or you can help others by giving them solution or cheer them up. Whatever it is, we’re always here to listen and encourage you.
					</p><br/>
					<p>All ears and love,</p><br/>
					<p>Your Listeners.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer%>