<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
<h1>Edit Page</h1>
<form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Username : </label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="password" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="email" required="">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Input your Photos : </label>
    <input type="file" id="exampleInputFile">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</body>
</html>