<% include partials/header%>
<div class="container hlpctnr ctrsad">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default pd1">
				<div class="panel-heading">
					<h2><strong>Help</strong></h2>
				</div>
				<div class="panel-body">
					<p>
						Sadly, we still don’t have 24/7 advisors that working with us. But, we will try our best to help you and you can contact us via phone at 082274717920, or you simply can email us at <em>help.sonder@gmail.com </em>. We’re waiting to hear from you!	
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer%>